/* Global Styling */
body {
  font-family: Arial, sans-serif;
  /* background-color: #ffffff; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow-y: auto;
}

/* Wrapper to Hold Everything */
.wrapper {
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 10px;
}

/* Header Container */
.header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.app-container {
  min-height: 100vh;
  /* background-color: #ffffff; */
  width: 100vw;
}

.main-content {
  margin-top: 80px; /* Height of the navbar */
  padding: 20px;
  min-height: calc(100vh - 80px); /* Subtract navbar height */
}

